
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

.container_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: aliceblue;
}
.label_input {
    font-size: 13px;
    color: grey;
}
.link_connect {
  text-decoration: none;
  padding: 20px;
  background-color: #5cb537;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
}
.box_link_connect {
  display: flex;
  flex-direction: column;
}
.form_body {
    width: 500px;
    max-width: 100%;
    background-color: #fff;
    padding: 30px;
}
.form_input_small {
    position: relative;
    margin-top: 20px;
    flex-direction: column;
}
.title_form {
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid #333;
    padding: 5px;
    text-transform: uppercase;
}
.form_btn_small {
    margin-top: 20px;
}
.input_sm {

    width: 100%;
    height: 45px;
    border:1px solid #e5e5e5;
    padding-inline: 1rem;
    border-radius: 4px;
    outline: none;
    margin-top: 6px;
}
.span_icon {
    position: absolute;
    top: 55%;
    right: 2%;
    cursor: pointer;
}
.random_icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
    color: grey;
}
.submitButton {
    background-color: grey;
    padding: 13px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.disable {
    background-color: rgb(210, 119, 66);
}
.btn_sm {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(109, 221, 128);
}
.two_btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 4px;
}

.container_label {
    display: flex;
    align-items: center;
}

.span_error {
    font-size: 13px;
    font-weight: 500;
    color: red;
    display: flex;
}

.icon_check {
    color: green;
}

.check_input_body {
    display:flex ;
    justify-content: space-between;
}

.container_alert_top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container_alert_top button {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
  }
  
  .notificaiton_alert {
    width: 400px;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(194, 23, 23);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
    opacity: 1;
    transition: top 0.5s ease, opacity 0.5s ease;
  }
  
  .notificaiton_alert p {
    margin: 0;
  }
  
  .closebtn {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .closebtn:hover {
    cursor: pointer;
  }
  

  @media ( max-width : 480px) {

  }


  /* css modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }
  
 
  .popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    transition: transform 0.4s ease, top 0.4s ease;
  }
  
  .open-Popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
 .erro_input {
    border: 1px solid red;
 }
  .popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0 10px;
  }
  
  .popup p {
    font-size: 16px;
    color: #666;
  }
  
  .popup button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .popup button:hover {
    background: #5cb537;
  }
  
  .Page_again {
   padding: 10px 0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333;
  }
  .box_again {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
  }
  .Box_all_List {
    display: flex;
    flex-direction: column;
  }

/* css to to list ***/
.Box_all_List {
  width: 350px;
  max-width: 100%;
  padding: 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.input_todo {
  margin-top: 10px;
}
.btn_add_todo {
  margin-top: 20px;
  background-color: #333;
  border: none;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.input_todo {
  width: 100%;
  height: 45px;
  border: 1px solid #e5e5e5;
  padding-inline: 1rem;
  border-radius: 4px;
}
.title_todo {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  font-weight: 600;
}

.ul_todo {
  margin-top: 20px;
}

.li_todo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efeded;
  padding: 12px;
  margin-top: 5px;
  color: #333;
}
.button_close_todo {
  background-color: red;
  color: #fff;
  border-radius: 50%;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.change_text {
  background-color: #333;
  color: #fff;
}
.Text_todos {
  color: #333;
}

.text_completed {
  background-color: red;
  color: #fff;
  text-decoration: line-through;
}